.todo-row{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:center;
    align-items: center;
    background-color:#22303c;
    width: 460px;
    margin: 15px auto;
    color:aliceblue;
    border-radius: 6px;
    
}
.todo-row > div{
    padding:13px;
    font-family: 'Candal', sans-serif;
    font-size: 20px;
}

.icons{
    padding: 0px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    }